In [1]:
import pandas as pd
import geopandas as gpd
import os

os.chdir("C:/Users/rojas/Desktop/Chimbote")

gdf=gpd.read_file("data/1-Mzs_Chimbote_Oficial_INEI.geojson")
refri=pd.read_csv("data/2-Refrigeradora.csv")
hacin=pd.read_csv("data/3-Hacinamiento.csv")

In [2]:
refri.rename(columns={'Cod':'Mz','No_TotalPR':'NoRefri_TotalPR'},inplace=True)
hacin.rename(columns={'Cod':'Mz'},inplace=True)

In [3]:
gdf_nuevo = gpd.GeoDataFrame(gdf.merge(refri, on='Mz', how='left'))
gdf_nuevo = gpd.GeoDataFrame(gdf_nuevo.merge(hacin, on='Mz', how='left'))

In [4]:
gdf_nuevo.head()

,UBIGEO,CODDPTO,NOMBDPTO,CODPROV,NOMBPROV,CODDIST,NOMBDIST,CODCCPP,NOMCCPP,CODZONA,...,CODMZNA,SUFMZNA,CIUDAD,ID,Mz,geometry,Unnamed: 0_x,NoRefri_TotalPR,Unnamed: 0_y,Hacin
0,021809,02,ANCASH,18,SANTA,09,NUEVO CHIMBOTE,0001,BUENOS AIRES,005,...,060,U,CHIMBOTE,1,021809000100500060U,"MULTIPOLYGON (((-78.50067 -9.12268, -78.50088 ...",2298.0,0.002697,2298.0,1.551724
1,021809,02,ANCASH,18,SANTA,09,NUEVO CHIMBOTE,0001,BUENOS AIRES,005,...,060,T,CHIMBOTE,2,021809000100500060T,"MULTIPOLYGON (((-78.50043 -9.12242, -78.50064 ...",2297.0,0.002697,2297.0,1.000000
2,021809,02,ANCASH,18,SANTA,09,NUEVO CHIMBOTE,0001,BUENOS AIRES,005,...,062,None,CHIMBOTE,3,021809000100500062,"MULTIPOLYGON (((-78.49951 -9.12266, -78.49966 ...",2300.0,0.010787,2300.0,1.187500
3,021809,02,ANCASH,18,SANTA,09,NUEVO CHIMBOTE,0001,BUENOS AIRES,005,...,060,S,CHIMBOTE,4,021809000100500060S,"MULTIPOLYGON (((-78.50022 -9.12221, -78.50040 ...",2296.0,0.008090,2296.0,1.042254
4,021809,02,ANCASH,18,SANTA,09,NUEVO CHIMBOTE,0001,BUENOS AIRES,005,...,060,V,CHIMBOTE,5,021809000100500060V,"MULTIPOLYGON (((-78.49914 -9.12227, -78.49932 ...",2299.0,0.005394,2299.0,1.021277

In [5]:
list(gdf_nuevo.columns.values)

['UBIGEO',
 'CODDPTO',
 'NOMBDPTO',
 'CODPROV',
 'NOMBPROV',
 'CODDIST',
 'NOMBDIST',
 'CODCCPP',
 'NOMCCPP',
 'CODZONA',
 'SUFZONA',
 'CODMZNA',
 'SUFMZNA',
 'CIUDAD',
 'ID',
 'Mz',
 'geometry',
 'Unnamed: 0_x',
 'NoRefri_TotalPR',
 'Unnamed: 0_y',
 'Hacin']

In [6]:
gdf_nuevo.head()

,UBIGEO,CODDPTO,NOMBDPTO,CODPROV,NOMBPROV,CODDIST,NOMBDIST,CODCCPP,NOMCCPP,CODZONA,...,CODMZNA,SUFMZNA,CIUDAD,ID,Mz,geometry,Unnamed: 0_x,NoRefri_TotalPR,Unnamed: 0_y,Hacin
0,021809,02,ANCASH,18,SANTA,09,NUEVO CHIMBOTE,0001,BUENOS AIRES,005,...,060,U,CHIMBOTE,1,021809000100500060U,"MULTIPOLYGON (((-78.50067 -9.12268, -78.50088 ...",2298.0,0.002697,2298.0,1.551724
1,021809,02,ANCASH,18,SANTA,09,NUEVO CHIMBOTE,0001,BUENOS AIRES,005,...,060,T,CHIMBOTE,2,021809000100500060T,"MULTIPOLYGON (((-78.50043 -9.12242, -78.50064 ...",2297.0,0.002697,2297.0,1.000000
2,021809,02,ANCASH,18,SANTA,09,NUEVO CHIMBOTE,0001,BUENOS AIRES,005,...,062,None,CHIMBOTE,3,021809000100500062,"MULTIPOLYGON (((-78.49951 -9.12266, -78.49966 ...",2300.0,0.010787,2300.0,1.187500
3,021809,02,ANCASH,18,SANTA,09,NUEVO CHIMBOTE,0001,BUENOS AIRES,005,...,060,S,CHIMBOTE,4,021809000100500060S,"MULTIPOLYGON (((-78.50022 -9.12221, -78.50040 ...",2296.0,0.008090,2296.0,1.042254
4,021809,02,ANCASH,18,SANTA,09,NUEVO CHIMBOTE,0001,BUENOS AIRES,005,...,060,V,CHIMBOTE,5,021809000100500060V,"MULTIPOLYGON (((-78.49914 -9.12227, -78.49932 ...",2299.0,0.005394,2299.0,1.021277

In [8]:
gdf_nuevo.to_file("data/4-ManzanasConInfo.geojson",driver='GeoJSON')